:root {
  --font-color: #191919;
  --background: #eee;
  --color-black: #000;
  --color-yellow: #FFE500;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&display=swap');

/*  ========================== font externa ==========================  */

@font-face {
  font-family: 'Riscu Times';
  src: url('../fonts/TimesNewerRoman-Regular.otf') format('opentype'),
    url('../fonts/TimesNewerRoman-Italic.otf') format('opentype'),
    url('../fonts/TimesNewerRoman-BoldItalic.otf') format('opentype'),
    url('../fonts/TimesNewerRoman-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Riscu Brico';
  src: url('../fonts/BricolageGrotesque-SemiBold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Riscu Noto';
  src: url('../fonts/NotoSerif-LightItalic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Riscu Noto Regular';
  src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
  font-style: normal;
}

/*  ========================== reset ==========================  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  color: var(--font-color);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background);
}

.scroll-remove {
  overflow: hidden;
}

main {
  flex: 1;
}

/*  ========================== header ==========================  */

header {
  display: flex;
  justify-content: space-between;
  padding: 27px 100px;
  align-items: center;
}

header .navbar ul {
  display: flex;
  gap: 43px;
}

header .navbar ul li {
  background: var(--color-yellow);
  padding: 6px 12px;
  border-radius: 100px;
  border: var(--color-black) solid 1px;
  text-transform: uppercase;
  box-shadow: var(--color-black) 3px 3px 0px;
  cursor: pointer;
  transition: .1s linear;
  font-family: 'Riscu Brico', 'Sans-serif';
  font-size: 18px;
}

header .navbar ul .selected {
  box-shadow: none;
  transform: translateY(3px) translateX(3px);
}

header .navbar ul .selected:hover {
  box-shadow: none;
}


header .navbar ul li:hover {
  box-shadow: var(--color-black) 1px 1px 0px;
  transform: translateY(3px) translateX(3px);
}

/*  ========================== menu mobile ==========================  */

header .navbar .menu-mobile {
  display: none;
  width: 40px;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

/*  ========================== drop menu ========================== */

header .navbar .drop-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  background: #ffffff65;
  backdrop-filter: blur(4px);
}


header .navbar .menu-mobile div {
  background: var(--color-black);
  height: 6px;
  transition: .3s linear;
  border-radius: 4px;
}

header .navbar .open {
  z-index: 5;
  position: sticky;
}


header .navbar .open div:nth-child(1) {
  transform: rotate(50deg) translateY(4px) translate(-2px);
}

header .navbar .open div:nth-child(2) {
  transform: rotate(-50deg) translate(4px) translateY(-10px);
}

header .navbar .open div:nth-child(3) {
  transform: rotate(-50deg) translateY(-16px) translate(12px);
}

/*  ========================== footer ==========================  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 20px;
  padding: 0px 20px;
}

footer p {
  font-family: 'Riscu Brico';
  font-size: 12px;
}

footer a {
  text-decoration: underline;
}

footer .wpp {
  cursor: pointer;
}

footer .wpp img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: var(--font-color);
  border-radius: 4px;
}



/*  ========================== media queries menu ==========================  */



@media screen and (max-width: 880px) {
  header {
    justify-content: space-between;
  }

  header .navbar .menu-mobile {
    display: flex;
  }

  header .logo {
    margin-right: 50px;
  }

  header .navbar ul {
   display: none;
  }
}


@media screen and (max-width: 545px) {
  header {
    justify-content: center;
  }

  footer p {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  header .logo img {
    width: 200px;
  }

}

